*,*::before,*::after{box-sizing:border-box}*{margin:0}html,body{height:100%}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}

body{
    position: relative;
    font-family: Inter,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
    color: #fff;
    background-color:  var(--bg-color);
    transition-duration: 1s;
    transition-property: color, background-color;
    --bg-color: #1a1e2e;
    --bg-header-color: rgba(26, 30, 46, 0.5);
    --bg-index-color: rgba(201, 201, 201, 0.5);
    --bg-bubble-color: #2b3047;
    --bg-filter-uncheck-color: rgba(232,231,255,.09);
    --bg-filter-check-color: linear-gradient(25deg,#e1689d,#4046ff);
    --bg-filter-dot-color: #4f536a;
    --bg-filter-icon-color: rgb(73, 73, 73);
    --bg-repo-color: #22272e;
    --bg-qanda-answer-color: #5500ff;
    --border-repo-color: #30363d;
    --font-pale-color: rgba(228, 232, 250, .55);
    --font-repo-color: #7d8590;
    --font-repo-title-color: #2f81f7;
    --font-bubble-color: #fff;
}

.mode-light{
    --bg-color: #9cd6ef;
    --bg-header-color: rgb(154, 213, 239, 0.5);
    --bg-index-color: rgba(100, 100, 100, 0.5);
    --bg-bubble-color: #fff;
    --bg-filter-uncheck-color: rgba(232, 231, 255, 0.5);
    --bg-filter-check-color: linear-gradient(25deg, #f13f79, #ffd700);
    --bg-filter-dot-color: #f9f9ff;
    --bg-filter-icon-color: rgb(239, 239, 239);
    --bg-repo-color: #fff;
    --bg-qanda-answer-color: #00aeff;
    --border-repo-color: #d0d7de;
    --font-pale-color: rgba(255, 255, 255, 0.8);
    --font-repo-color: #57606a;
    --font-repo-title-color: #0969da;
    --font-bubble-color: #33374a;
}

.gradation {
  background: linear-gradient(90deg, #4058D1, #C850C0 30%, #FFCC70);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Brush Script MT;
  font-size: 34px;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

ul, ol{
    list-style: none;
    padding: 0;
}

h1{
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 32px;
}

h2{
    font-size: 21px;
    margin-right: 31px;
    margin-bottom: 1rem;
}

h3{
    margin: 10px 15px;
}

input{
    display: none;
}

.bubble{
    position: relative;
    font-weight: 400;
    font-size: .95rem;
    font-weight: 700;
    margin-bottom: .3rem;
    padding: 1.3rem 1.2rem;
    border-radius: 14px;
    color: var(--font-bubble-color);
    background-color: var(--bg-bubble-color);
}

.ad-fixed{
    position: fixed;
    top: 100px;
    max-width: 230px;
}

#ad-fixed-1{
    left: 20px;
}

#ad-fixed-2{
    right: 20px;
}

header{
    position: fixed;
    top: -1px;
    width: 100%;
    background-color: var(--bg-header-color);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 10;
    transform: translateY(0);
    transition: transform .4s ease;
}

.header--unpinned {
    transform: translateY(-150%);
}

#logo{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 24px;
    margin: 20px 0;
}

#menu-label{
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}

#menu-label img{
    max-height: 28px;
}

#header-index{
    display: none;
    width: 100%;
    padding-bottom: 10px;
}

#header-index a{
    display: block;
    width: 100%;
    padding: .5rem 1rem;
}

#header-index a:hover{
    background-color: var(--bg-index-color);
}

#darkmode label{
    position: absolute;
    top: -46px;
    right: -50px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    transform: rotate(0);
    transition: transform 1s;
    cursor: pointer;
}

#darkmode label::before{
    content: "🌙";
    position: absolute;
    left: 0;
    bottom: 0;
}

#darkmode label::after{
    content: "🌞";
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1,-1);
}

#content{
    width: 100%;
    max-width: 900px;
    margin: 6rem auto 50px;
    padding: 0 20px;
}

#note-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
}

#note-info div{
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

#headline img{
    width: 30px;
    margin-right: 10px;
}

article div{
    margin: 30px 0;
}

article img{
    max-height: 500px;
    margin: 0 auto;
}

article .ad{
    display: flex;
    max-height: 600px;
}

article .ad a{
    margin: 0 auto;
}

article h2{
    font-size: 26px;
    margin-top: 120px;
    margin-bottom: 40px;
    padding: 3px 0 3px 15px;
    border-left: 6px solid var(--bg-filter-dot-color);
}

.jump{
    padding-top: 60px;
    margin-top:-60px;
}

.index {
    max-width: 700px;
    margin: 60px auto;
    padding: .6em 1em .6em 2em;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--bg-bubble-color);
}

.index label{
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.index label::before{
    content: url(images/svg/caret-down-solid.svg);
    width: 1em;
    margin-right: 15px;
}

.index:has(:checked) label::before{
    animation: RotateIcon .5s;
    rotate: 180deg;
}

@keyframes RotateIcon {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 180deg;
    }
}

.index ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0 1.2em;
    overflow: hidden;
}

.index > ol {
    height: 0;
}

.index:has(:checked) > ol {
    height: auto;
    padding-bottom: 1em;
    animation: SlideIn .5s;
}

@keyframes SlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.index ol ol {
    margin-top: 5px;
}

.index li {
    padding: 5px 0;
}

.index a{
    color: var(--font-bubble-color);
}

.index a:hover{
    text-decoration: underline;
}

#top{
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 2rem 0;
    color: #fff;
}

#profile-icon{
    margin-top: 2rem;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.5;
}

#profile-icon img{
	display: inline-block;
	border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 2rem;
}

#description{
    margin-top: 1rem;
    color: var(--font-pale-color);
}

#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#container div a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    box-shadow: 0 20px 40px -16px rgba(0,0,0,.4);
    aspect-ratio: 1/1;
    transition: .2s ease;
}

#container div a:hover{
    transform: translateY(-2px) scale(1.02);
}

#container img{
    width: 35%;
    z-index: 1;
}

#reaction{
    margin-bottom: 60px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

#reaction div{
    margin: 20px 0;
}

#good-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background: rgba(170, 170, 170, 0.4);
    cursor: pointer;
}

#good-button::after{
    content: "";
    position: absolute;
    inset: 3px;
    background: var(--bg-bubble-color);
    border-radius: 50%;
}

#good-button img{
    width: 150px;
    height: 150px;
    z-index: 1;
}

#good:checked+#good-button{
    background: var(--bg-filter-check-color);
}

#share{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 0 20px;
}

#share a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
}

#share img{
    width: 30px;
    height: 30px;
}

#hatena img{
    width: 40px;
    height: 40px;
}

#twitter{
    background-color: #1da1f2;
}

#facebook{
    background-color: #3b5998;
}

#hatena{
    background-color: #00a4de;
}

#pocket{
    background-color: #ee4056;
}

#line{
    background-color: #00B900;
}

#ads-list{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px .6rem 0;
}

.ad-box{
    padding: 10px;
    border-radius: 5px;
    color: var(--font-bubble-color);
    background-color: var(--bg-bubble-color);
}

.ad-box a{
    color: var(--font-bubble-color);
}

.ad-box a:hover{
    text-decoration: underline;
}

#recommends{
    width: 100%;
    max-width: 900px;
    margin: 150px auto;
    padding: 0 15px;
}

#recommends h2{
    display: inline-block;
    margin: 0 0 10px;
}

#recommends h2:hover{
    text-decoration: underline;
}

.user{
    margin-bottom: 10px;
}

.user a{
    display: inline-flex;
    align-items: center;
}

.user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; 
}

.box-tag{
    display: flex;
    flex-wrap: wrap;
}

.box-tag li a{
    margin-right: 10px;
    color: #00aeff;
}

.box-info{
    display: flex;
    flex-wrap: wrap;
}

.box-info div{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.box-info img{
    width: 30px;
    margin: 0 10px;
}

footer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
	align-items: center;
    margin-top: 300px;
    padding: 30px 20px 20px 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background-image: url("images/png/ground.png");
    background-repeat: no-repeat;
}

#rocket{
    position: absolute;
    top: -100px;
    padding-top: 8px;
    overflow: hidden;
    height: 100px;
}

#rocket img{
    rotate: -45deg;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    #container{
        grid-template-columns: repeat(2,1fr);
    }

    article img{
        margin: 0 auto;
        max-height: 40vh;
    }

    #ads-list{
        display: grid;
        grid-template-columns: repeat(2,3fr);
        gap: .5rem;
    }
}

@media screen and (max-width: 440px){
    #share{
        width: 280px;
    }
}

@media screen and (max-width: 260px){
    #menu-label{
        width: 16px;
    }
    #share{
        width: auto;
    }
}