body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    background-color: gray;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

#top{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 3vh 4vw;
    color: #fff;
}

#menu{
    display: flex;
    text-align: left;
}

#menu div, #menu ul li{
    margin-left: 30px;
}

#menu label,  #menu li a{
    color: gray;
}

#menu label:hover, #menu li a:hover{
    color: #fff;
}

#menu div, #menu ul{
    display: none;
}

#menu ul{
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-weight: 600;
}

#menu label{
    cursor: pointer;
}

#menu #menu-button{
    display: none;
}

#menu #menu-button:checked ~ ul{
    display: flex;
    animation: SlideIn 1s;
}

#menu input:checked + label{
    color: #fff;
}

#menu #menu-button:checked ~ div{
    display: block;
    animation: SlideIn 1s;
}

@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#profile-icon img{
	display: inline-block;
	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width: 100px;       /* ※縦横を同値に */
    height: 100px;       /* ※縦横を同値に */
}

#top:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: auto;
	font-family: "Font Awesome 6 Free";
	content: '\f103';
    font-weight: 600;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    animation: updown 2s infinite ease-in-out;
}

@keyframes updown {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -4vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

#release{
    padding: 3% 15%;
}

#release h1{
    border-bottom: 2px solid gray;
    margin-bottom: 2%;
}

#release ul{
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    padding: 0 10px;
}

#release p{
    font-weight: 400;
    font-size: 1rem;
    margin: 5px 0 10px 35px;
}

#qanda{
    padding: 3% 15%;
}

#qanda h1{
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

#qanda ul{
    list-style: none;
    padding: 0 20px;
    font-weight: 400;
    font-size: 1.2rem;
}

#qanda li{
    margin-bottom: 10px;
}

#qanda li p{
    margin-left: 10px;
}

#qanda label{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(232, 232, 232);
}

#question-A, #question-B, #question-C, .answer-A, .answer-B, .answer-C{
    display: none;
    width: fit-content;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background: rgb(85, 0, 255);
}

#qanda #question-A:checked ~ .answer-A{
    display: flex;
    animation: SlideLabel 1s;
}

#qanda #question-B:checked ~ .answer-B{
    display: flex;
    animation: SlideLabel 1s;
}

#qanda #question-C:checked ~ .answer-C{
    display: flex;
    animation: SlideLabel 1s;
}

@keyframes SlideLabel {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#qanda #message{
    margin-top: 30px;
}

#qanda #message a{
    color: blue;
}

.footer{
    display: flex;
    justify-content: center;
	align-items: center;
    text-align: center;
    padding: 20px;
    color: rgb(66, 66, 66);
    background-color: rgb(200, 200, 200);
}

@media screen and (max-width: 782px){
    #app-title{
        font-size: 10vw;
    }

    #top:after{
        bottom: 2%;
    }

    .summary{
        font-size: 1.5vw;
    }
    
    #release{
        padding: 10% 5%;
    }
    
    #oss{
        padding: 10%;
    }
    
    #qanda{
        padding: 10% 5%;
    }
}

@media screen and (max-height: 500px){
    #top:after{
        display: none;
    }

    #app-title{
        padding-top: 5vh;
    }
}