*,*::before,*::after{box-sizing:border-box}*{margin:0}html,body{height:100%}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}

body{
    font-family: Inter,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
    color: #fff;
    background-color: #1a1e2e;
    transition-duration: 1s;
    transition-property: color, background-color;
}

.js-mode-light{
    background-color: #9cd6ef;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

ul{
    list-style: none;
    padding: 0;
}

h1{
    margin-top: 4rem;
    font-size: 2.2rem;
    text-align: center;
}

h2{
    font-size: 21px;
    margin-right: 31px;
    margin-bottom: 1rem;
}

/* .js-mode-light h1{
    border-bottom: 2px solid rgba(232, 231, 255, 0.322);
} */

.bubble{
    font-weight: 400;
    font-size: .95rem;
    font-weight: 700;
    margin-top: 1rem;
    padding: 1.3rem 1.2rem;
    border-radius: 14px;
    background-color: #2b3047;
}

.js-mode-light .bubble{
    color: #33374a;
    background: #fff;
}

/* .js-mode-light .answer-A, .answer-B, .answer-C{
    color: #fff;
    background: rgb(85, 0, 255);
} */

header{
    position: fixed;
    top: -1px;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 1rem;
    background-color: rgba(26, 30, 46, 0.5);
    backdrop-filter: blur(16px);
    z-index: 10;
}

.js-mode-light header{
    background-color: rgb(154, 213, 239, 0.5);
}

#menu{
    display: inline-block;
    margin-right: .3rem;
}

#menu label img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

header img{
	border-radius: 50%;
    width: 21px;
    height: 21px;
}

header #username{
    height: 62px;
    line-height: 62px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

#top{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 3vh 4vw;
    color: #fff;
}

/* #menu{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
}

#menu div, #menu ul li{
    padding-left: 30px;
}

#menu label,  #menu li a{
    color: gray;
}

#menu label:hover, #menu li a:hover{
    color: #fff;
}

#menu div, #menu ul{
    display: none;
}

#menu ul{
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-weight: 600;
}

#menu label{
    cursor: pointer;
}

#menu #menu-button{
    display: none;
}

#menu #menu-button:checked ~ ul{
    display: flex;
    animation: SlideIn 1s;
}

#menu input:checked + label{
    color: #fff;
}

#menu #menu-button:checked ~ div{
    display: block;
    animation: SlideIn 1s;
}

@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */

input[type="checkbox"]{
    display: none;
}

#darkmode label{
    position: absolute;
    top: -46px;
    right: -50px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    transform: rotate(0);
    transition: transform 1s;
    cursor: pointer;
}

#darkmode label::before{
    content: "🌙";
    position: absolute;
    left: 0;
    bottom: 0;
}
#darkmode label::after{
    content: "🌞";
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1,-1);
}

#profile-icon{
    margin-top: 2rem;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.5;
}

#profile-icon img{
	display: inline-block;
	border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 2rem;
}

#description{
    margin-top: 1rem;
    color: rgba(228, 232, 250, 0.55);
}

#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#container div a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    box-shadow: 0 20px 40px -16px rgba(0,0,0,.4);
    aspect-ratio: 1/1;
    transition: .2s ease;
}

#container div a:hover{
    transform: translateY(-2px) scale(1.02);
}

#container img{
    width: 35%;
}

#sns #twitter a{
    background: linear-gradient(144deg,#84d0ff,#19a7ff 50%,#1da1f2 60%,#1a7ee9);
}

#sns #instagram a{
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}

#sns #github a{
    background: linear-gradient(144deg,#363636,#26292c 50%,#161b22,#161616);
}

#sns #gmail a{
    background: linear-gradient(144deg,#ff8176,#d6473a 50%,#dc483c,#e81f1f);
}

#top:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: auto;
	font-family: "Font Awesome 6 Free";
	content: '\f103';
    font-weight: 600;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    animation: updown 2s infinite ease-in-out;
}

@keyframes updown {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -4vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

#timeline{
    max-width: 780px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

#filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    gap: 22px;
}

#filter input{
    display: none;
}

#filter label{
    width: 74px;
    border: none;
    cursor: pointer;
    appearance: none;
    background: transparent;
    transition: .25s;
    outline-offset: 2px;
    text-align: center;
}

#filter label p{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 34%;
    font-size: 30px;
    background: rgba(232,231,255,.09);
}

.js-mode-light #filter label p{
    background: rgba(232, 231, 255, 0.5);
}

#filter label p::after{
    content: "";
    position: absolute;
    inset: 2px;
    background: #1a1e2e;
    border-radius: 34%;
}

.js-mode-light #filter label p::after{
    background: #9cd6ef;
}

#filter label p span{
    z-index: 1;
}

#filter input:checked + label{
    font-weight: 700;
}

#filter input:checked + label p{
    background: linear-gradient(25deg,#e1689d,#4046ff);
}

.js-mode-light #filter input:checked + label p{
    background: linear-gradient(25deg,#4ed0ff,#9b5efc);
}

#filter label > span{
    font-size: 13px;
    font-weight: 500;
    color: rgba(228,232,250,.55);
}

.js-mode-light #filter label > span{
    color: #fff;
}

#timeline section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

#timeline ul{
    position: relative;
}

#timeline ul::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 10px;
    bottom: 0;
    width: 2px;
    background-color: rgba(232, 231, 255, 0.09);
}

.js-mode-light #timeline ul::before{
    background-color: rgba(232, 231, 255, 0.5);
}

#timeline li{
    position: relative;
    display: flex;
}

#timeline li:not(:first-child){
    margin-top: 2.7rem;
}

#timeline li:last-child::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 10px;
    bottom: 0;
    width: 2px;
    background-color: rgb(26, 30, 46);
}

.js-mode-light #timeline li:last-child::before{
    background-color: #9cd6ef;
}

#timeline .dot{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #1a1e2e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 2px;
    left: -9px;
    background-color: #4f536a;
}

.js-mode-light #timeline .dot{
    border: 4px solid #9cd6ef;
    background-color: #e8e7ff;
}

#timeline .log{
    padding-left: 32px;
}

#timeline li time{
    color: rgba(228, 232, 250, 0.55);
}

.js-mode-light #timeline li time{
    color: rgba(255, 255, 255, 0.8);
}

#qanda{
    max-width: 780px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

#qanda ul{
    list-style: none;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}

#qanda li{
    margin-bottom: 10px;
}

#qanda li p{
    margin-left: 10px;
}

#qanda label{
    display: inline-block;
    cursor: pointer;
}

#answer-A, #answer-B, #answer-C{
    display: none;
    width: fit-content;
    color: #fff;
    background: rgb(85, 0, 255);
}

.js-mode-light #answer-A, .js-mode-light #answer-B, .js-mode-light #answer-C{
    color: #fff;
    background: rgb(0, 174, 255);
}

#qanda #question-A:checked ~ #answer-A{
    display: flex;
    animation: SlideLabel 1s;
}

#qanda #question-B:checked ~ #answer-B{
    display: flex;
    animation: SlideLabel 1s;
}

#qanda #question-C:checked ~ #answer-C{
    display: flex;
    animation: SlideLabel 1s;
}

@keyframes SlideLabel {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#qanda #message{
    margin-top: 30px;
}

#qanda #message a{
    color: #968cff;
}

footer{
    display: flex;
    justify-content: center;
	align-items: center;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    color: rgba(228, 232, 250, 0.55);
}

@media screen and (max-width: 768px){
    #container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 425px){
    #container{
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 782px){
    #app-title{
        font-size: 10vw;
    }

    #top:after{
        bottom: 2%;
    }

    .summary{
        font-size: 1.5vw;
    }
    
    #release{
        padding: 10% 5%;
    }
    
    #oss{
        padding: 10%;
    }
}

@media screen and (max-width: 260px){
    #usericon, #username span{
        display: none;
    }
}

@media screen and (max-height: 500px){
    #top:after{
        display: none;
    }
}
